@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: max(33vh, 10rem); /* Définition de la hauteur du header */
  --icon-size: 4rem; /* Taille des icônes */
  --header-padding: 0.5rem /* Marges du header */
}

.header {
  @apply bg-transparent text-white w-full flex flex-col relative;
  height: var(--header-height); /* Utilisation de la variable pour la hauteur du header */
  position: fixed; /* Fixer le header en haut de la page */
  top: 0; /* Positionner le header en haut */
  left: 0; /* Positionner le header à gauche */
  right: 0; /* Étendre le header jusqu'à droite */
  z-index: 10; /* S'assurer que le header est au-dessus des autres éléments */
}

.header-logo {
  @apply flex items-center;
  width: var(--icon-size); /* Définir la taille de l'icône */
  height: var(--icon-size); /* Définir la taille de l'icône */
  margin: var(--header-padding); /* Assurer une marge à gauche */
}

.header-icons {
  @apply flex items-center;
  margin-right: var(--icon-margin); /* Marge pour l'icône de connexion */
}

.menu {
  @apply list-none flex gap-6 w-full justify-around;
  margin: 0 var(--icon-margin); /* Assurer une marge à gauche et à droite */
}
/* Media query pour ajuster les éléments à des tailles d'écran plus petites */
@media screen and (max-width: 768px) {
  .menu-item a {
    @apply text-xs items-center justify-center; /* Réduire la taille de la police des liens du menu */
  }
}