@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: max(33vh, 12rem); /* Définition de la hauteur du header */
  --icon-size: 4rem; /* Taille des icônes */
  --header-padding: 0rem /* Marges du header */
}

.header {
  @apply bg-transparent text-white w-full flex flex-col relative;
  height: var(--header-height); /* Utilisation de la variable pour la hauteur du header */
  position: fixed; /* Fixer le header en haut de la page */
  top: 0; /* Positionner le header en haut */
  left: 0; /* Positionner le header à gauche */
  right: 0; /* Étendre le header jusqu'à droite */
  z-index: 10; /* S'assurer que le header est au-dessus des autres éléments */
}

.header-logo {
  @apply flex items-center;
  width: var(--icon-size); /* Définir la taille de l'icône */
  height: var(--icon-size); /* Définir la taille de l'icône */
  margin: var(--header-padding); /* Assurer une marge à gauche */
}

.header-icons {
  @apply flex items-center;
  margin-right: var(--icon-margin); /* Marge pour l'icône de connexion */
}

.header-content {
  @apply flex flex-col items-center justify-center;
  flex: 1; /* Assurer que le contenu occupe tout l'espace disponible */
  padding: 0 var(--header-padding); /* Ajouter du padding horizontal */
  white-space: nowrap; /* Empêcher le passage à la ligne */
}

.header-site {
  @apply text-4xl mb-4 justify-center; /* Ajouter un espace entre le titre et le slogan */
}

.header-slogan {
  @apply text-3xl mb-4 justify-center; /* Ajouter un espace entre le titre et le slogan */
  font-style: italic;
}
.menu {
  @apply list-none flex gap-6 w-full justify-around;
  margin: 0 var(--icon-margin); /* Assurer une marge à gauche et à droite */
}

/* Media query pour ajuster les éléments à des tailles d'écran plus petites */
@media screen and (max-width: 768px) {
  .header-site {
    @apply text-2xl mb-2 justify-center; /* Ajouter un espace entre le titre et le slogan */
  }
  
  .header-slogan {
    @apply text-xl mb-2 justify-center; /* Ajouter un espace entre le titre et le slogan */
    font-style: italic;

  }
  .header-logo {
    @apply flex items-center;
    width: calc(var(--icon-size)/1.5); /* Définir la taille de l'icône */
    height: calc(var(--icon-size)/1.5); /* Définir la taille de l'icône */
    margin: calc(var(--header-padding)/1.5); /* Assurer une marge à gauche */
  }
  
    .menu-item a {
    @apply text-xs items-center justify-center; /* Réduire la taille de la police des liens du menu */
  }
}

.main {
  @apply flex flex-col items-center p-4 w-full;
  margin-top: var(--header-height); /* Ajouter une marge supérieure égale à la hauteur du header */
  flex: 1; /* Pour s'assurer que le contenu principal occupe tout l'espace disponible */
}

